<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smm.scrapMetal.dao.IFavoriteDao">

<insert id="addFavorite" parameterType="com.smm.scrapMetal.domain.Favorite">	
		insert into fj_favorite 
		(
		source,
		sourceId,
		customerId,
		createdAt
		)
		values
		(
		#{source},
		#{sourceId},
		#{customerId},
		now()
		)
</insert>
<delete id="delFavorite" parameterType="com.smm.scrapMetal.domain.Favorite">
delete from fj_favorite 
where 
source=#{source}
and sourceId=#{sourceId}
and customerId=#{customerId}
</delete>

<insert id="addUpvote" parameterType="com.smm.scrapMetal.domain.Favorite">	
		insert into fj_upvote 
		(
		source,
		sourceId,
		customerId,
		createdAt
		)
		values
		(
		#{source},
		#{sourceId},
		#{customerId},
		now()
		)
</insert>

<delete id="delUpvote" parameterType="com.smm.scrapMetal.domain.Favorite">
delete from fj_upvote
where 
source=#{source}
and sourceId=#{sourceId}
and customerId=#{customerId}
</delete>
</mapper>