<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smm.scrapMetal.dao.ItemDao">

<select id="showItemList" resultType="com.smm.scrapMetal.domain.Item">	
	select id ,name,image,isDefault,createdAt,createdBy 
	from fj_items
</select>

<insert id="addItem" parameterType="com.smm.scrapMetal.domain.Item">
	INSERT INTO fj_items 
		(NAME, 
		isDefault, 
		createdAt, 
		createdBy
		)
		VALUES
		(#{name}, 
		#{isDefault}, 
		#{createdAt}, 
		#{createdBy}
		)
</insert>

<delete id="delItem" parameterType="java.lang.Integer">
	DELETE FROM fj_items 
	WHERE
	id = #{id}
</delete>		
		
</mapper>
